{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Ministore</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="author" content="" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&family=Lato:wght@300;400;700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <!--  script
    ==================================================  -->
    <script src="{% static 'js/modernizr.js' %}"></script>
  </head>
  <body data-bs-spy="scroll" data-bs-target="#navbar" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" tabindex="0">
    <header id="header" class="site-header header-scrolled position-fixed text-black bg-light">
        <nav id="header-nav" class="navbar navbar-expand-lg px-3 mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html">
            <img src="{% static 'images/offer.png' %}" style="height: auto; width: 100px;" class="logo">

            </a>
            <button class="navbar-toggler d-flex d-lg-none order-3 p-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#bdNavbar" aria-controls="bdNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <svg class="navbar-icon">
                <use xlink:href="#navbar-icon"></use>
            </svg>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="bdNavbar" aria-labelledby="bdNavbarOffcanvasLabel">
            <div class="offcanvas-header px-4 pb-0">
                <a class="navbar-brand" href="index.html">
                <img src="{% static 'images/main-logo.png' %}" class="logo">
                </a>
                <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas" aria-label="Close" data-bs-target="#bdNavbar"></button>
            </div>
            <div class="offcanvas-body">
                <ul id="navbar" class="navbar-nav text-uppercase justify-content-end align-items-center flex-grow-1 pe-3">
                <li class="nav-item">
                    <a class="nav-link me-4 active" href="/seller_list/">Home</a>
                    </li>
                <li class="nav-item">
                    <a class="nav-link me-4 active" href="/addproduct/">Add Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link me-4" href="/generate/">Poster Generation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link me-4" href="/add_poster/">Add Poster</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link me-4" href="/logout/">Logout</a>
                </li>
                
                <li class="nav-item">
                    <div class="user-items ps-5">
                    <ul class="d-flex justify-content-end list-unstyled">
                    
                        <li class="pe-3">
                        <a href="/shopviewprofile/">
                            <svg class="user">
                            <use xlink:href="#user"></use>
                            </svg>
                        </a>
                        </li>

                    </ul>
                    </div>
                </li>
                </ul>
            </div>
            </div>
        </div>
        </nav>
    </header>
    {% block content %}
    {% endblock content %}

    <div id="footer-bottom">
        <div class="container-fluid text-center">
         
                
                  © 2025 Offroll. All rights reserved.
             
           
        </div>
      </div>
  
      <script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
      <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
      <script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    </body>
  </html>